<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>修改密码-用户中心</title>
    <meta name="keywords" content="DeathGhost"/>
    <meta name="description" content="DeathGhost"/>
    <meta name="author" content="DeathGhost,deathghost@deathghost.cn">
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <script src="js/html5.js"></script>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/swiper.min.js}"></script>
    <script>
        $(document).ready(function () {
            $("nav .indexAsideNav").hide();
            $("nav .category").mouseover(function () {
                $(".asideNav").slideDown();
            });
            $("nav .asideNav").mouseleave(function () {
                $(".asideNav").slideUp();
            });
        });
    </script>
</head>
<body>
<!--header-->
<header>
    <!--topNavBg-->
    <div class="topNavBg">
        <div class="wrap">
            <!--topLeftNav-->
            <ul class="topLtNav" th:if="${session.isEmpty()}">
                <li><a href="/app/login" class="obviousText">亲，请登录</a></li>
                <li th:if="${session.isEmpty()}"><a href="/app/register">注册</a></li>
            </ul>
            <ul class="topLtNav" th:if="!${session.isEmpty()}">
                <li><a class="obviousText" th:text="${session.cInfo.getcPhone()}"></a>
                </li>
                <li><a id="exit" class="obviousText">退出登录</a></li>
            </ul>
            <!--topRightNav-->
            <ul class="topRtNav">
                <ul class="topRtNav">
                    <li><a href="/app/user">个人中心</a></li>
<!--                    <li><a href="/app/cart" class="cartIcon">购物车<i>0</i></a></li>-->
<!--                    <li><a href="/app/favorite" class="favorIcon">收藏夹</a></li>-->
                    <li><a href="/app/bs/logins">商家中心</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <!--logoArea-->
    <div class="wrap logoSearch">
        <!--logo-->
        <div class="logo">
            <h1><img src="images/logo.png"/></h1>
        </div>
        <!--search-->
        <div class="search">
            <ul class="switchNav">
                <li class="active" id="chanpin">产品</li>
            </ul>
            <div class="searchBox">
                <form>
                    <div class="inputWrap">
                        <input type="text" placeholder="输入产品关键词或货号"/>
                    </div>
                    <div class="btnWrap">
                        <input type="submit" value="搜索"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--nav-->
    <nav>
        <ul class="wrap navList">
            <li class="category">
                <a href="/app/user">用户中心</a>
            </li>
        </ul>
    </nav>

</header>
<script>
    $(document).ready(function () {
        //测试效果，程序对接如需变动重新编辑
        $(".switchNav li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
        $("#chanpin").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入产品关键词或货号");
        });
        $("#shangjia").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入商家店铺名");
        });
        $("#zixun").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入关键词查找文章内容");
        });
        $("#wenku").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入关键词查找文库内容");
        });
    });

</script>

<section class="wrap user_center_wrap">
    <!--左侧导航-->
    <aside class="user_aside_nav">
        <dl>
            <dt>买家中心</dt>
            <dd><a href="/app/order">我的订单</a></dd>
<!--            <dd><a href="/app/favorite">我的收藏</a></dd>-->
            <dd><a href="/app/address">我的地址库</a></dd>
        </dl>
        <dl>
            <dt>控制面板</dt>
            <dd><a href="/app/profile">个人资料</a></dd>
            <dd><a href="/app/change_password">修改密码</a></dd>
        </dl>
    </aside>
    <!--右侧：内容区域-->
    <div class="user_rt_cont layui-form layuimini-form">
        <div class="top_title">
            <strong>修改密码</strong>
        </div>
        <table class="order_table">
            <tr>
                <td width="80" align="right">原始密码：</td>
                <td><input type="password" lay-verify="required" name="cOldPwd" class="textbox"/>
                    <mark class="tips_errors">*</mark>
                </td>
            </tr>
            <tr>
                <td width="80" align="right">设置新密码：</td>
                <td><input type="password" lay-verify="required" name="cNewPwd1" class="textbox"/>
                    <mark class="tips_errors">*</mark>
                </td>
            </tr>
            <tr>
                <td width="80" align="right">确认新密码：</td>
                <td><input type="password" lay-verify="required" name="cNewPwd2" class="textbox"/>
                    <mark class="tips_errors">*</mark>
                </td>
            </tr>
            <tr>
                <td width="80" align="right"></td>
                <td><input type="button" class=" group_btn" value="修改密码" lay-submit lay-filter="save"/></td>
            </tr>
        </table>
    </div>
</section>
<!--footer-->
</body>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.on('submit(save)', function (data) {
            var data = data.field;
            if (data.cNewPwd1 != data.cNewPwd2) {
                layer.msg("两次密码输入不一致", {icon: 2, time: 800}, function () {
                    location.reload();
                });
            } else {
                $.ajax({
                    url: '/app/Custom/modify_pwd.do',
                    method: 'post',
                    data: {
                        cId: [[${session.cInfo.getcId()}]],
                        cOldPwd: data.cOldPwd,
                        cPwd: data.cNewPwd1
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg, {icon: res.code, time: 800}, function () {
                                location.href = "/app/exit";
                            })
                        } else {
                            layer.msg(res.msg, {icon: res.code, time: 800}, function () {
                                location.reload();
                            })
                        }
                    }
                })
            }
        })
    })
</script>
</html>
