<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>注册</title>
    <meta name="keywords" content="DeathGhost"/>
    <meta name="description" content="DeathGhost"/>
    <meta name="author" content="DeathGhost,deathghost@deathghost.cn">
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <script src="js/html5.js"></script>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/countdown.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <script>
        $(document).ready(function () {
            $("nav .indexAsideNav").hide();
            $("nav .category").mouseover(function () {
                $(".asideNav").slideDown();
            });
            $("nav .asideNav").mouseleave(function () {
                $(".asideNav").slideUp();
            });
        });
    </script>
</head>
<body>
<!--header-->
<header>
    <!--topNavBg-->
    <div class="topNavBg">
        <div class="wrap">
            <!--topLeftNav-->
            <ul class="topLtNav">
                <li><a href="/app/login" class="obviousText">亲，请登录</a></li>
                <li><a href="/app/register">注册</a></li>
            </ul>
            <!--topRightNav-->
            <ul class="topRtNav">
                <li><a href="/app/user">个人中心</a></li>
<!--                <li><a href="/app/cart" class="cartIcon">购物车<i>0</i></a></li>-->
<!--                <li><a href="/app/favorite" class="favorIcon">收藏夹</a></li>-->
                <li><a href="/app/bs/logins">商家中心</a></li>
            </ul>
        </div>
    </div>
    <!--logoArea-->

    <!--nav-->
    <nav>
        <ul class="wrap navList">
        </ul>
    </nav>

</header>
<script>
    $(document).ready(function () {
        //测试效果，程序对接如需变动重新编辑
        $(".switchNav li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
        $("#chanpin").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入产品关键词或货号");
        });
        $("#shangjia").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入商家店铺名");
        });
        $("#zixun").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入关键词查找文章内容");
        });
        $("#wenku").click(function () {
            $(".inputWrap input[type='text']").attr("placeholder", "输入关键词查找文库内容");
        });
    });

</script>

<section class="wrap user_form">
    <div class="lt_img">
        <img src="images/form_bg.jpg"/>
    </div>
    <div class="rt_form layui-form layuimini-form">
        <h2>会员注册</h2>
        <ul>
            <li class="user_icon">
                <input type="text" name="cPhone" lay-verify="cPhone" class="textbox" placeholder="手机号码"/>
            </li>
            <li class="link_li">
                <button type="button" style="background-color:#FF4400" lay-submit lay-filter="send_ms"
                        class="get_num_btn">获取手机校验码
                </button>
            </li>
            <li class="user_cc">
                <input type="text" name="verifyCode" class="textbox" placeholder="手机校验码"/>
            </li>
            <li class="user_pwd">
                <input type="password" name="cPwd1" class="textbox" placeholder="设置密码"/>
            </li>
            <li class="user_pwd">
                <input type="password" name="cPwd2" class="textbox" placeholder="确认密码"/>
            </li>
            <li class="link_li">
                <input type="checkbox" value="1" name="isAgree" class="layui-input"/><a>阅读注册协议</a>
                <a href="/app/login" title="登录账号" class="fr">已有账号，立即登录？</a>
            </li>
            <li class="link_li">
                <button type="button" lay-submit lay-filter="register" class="sbmt_btn">立即注册</button>
            </li>
        </ul>
    </div>
</section>
<!--footer-->
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.verify({
            cPhone: function (value, item) {
                if (value.length == 0) {
                    return "手机号不能为空";
                }
                if (!(/^1[3-9]{1}[0-9]{9}$/.test(value))) {
                    return "手机号格式不正确!";
                }
            }
        });

        form.on('submit(send_ms)', function (data) {
            var data = data.field;
            console.log(this);
            countdown(this);
            $.ajax({
                url: '/app/send_sms',
                type: 'post',
                data: {
                    cPhone: data.cPhone,
                },
                dataType: 'json',
                success: function (res) {
                    layer.msg(res.msg, {icon: res.code, time: 500},function () {

                    });
                }
            })
        });

        form.on('submit(register)', function (data) {
            var data = data.field;
            console.log(data);
            if (data.isAgree != 1) {
                layer.msg("请勾选阅读注册协议", {icon: 2, time: 800}, function () {
                    return true;
                });
            } else if (data.cPwd1 != data.cPwd2) {
                layer.msg("两次密码不一致", {icon: 2, time: 800}, function () {
                    return true;
                });
            } else if (data.verifyCode.length == 0) {
                layer.msg("验证码不能为空", {icon: 2, time: 800}, function () {
                    return true;
                });
            } else if (data.cPwd1.length == 0 || data.cPwd2.length == 0) {
                layer.msg("密码不能为空", {icon: 2, time: 800}, function () {
                    return true;
                });
            } else {
                $.ajax({
                    url: '/app/Custom/register.do',
                    type: 'post',
                    data: {
                        cPhone: data.cPhone,
                        cPwd: data.cPwd1,
                        verifyCode: data.verifyCode
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg, {icon: res.code, time: 800}, function () {
                                location.reload();
                            })
                        } else {
                            layer.msg(res.msg, {icon: res.code, time: 800})
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>
