<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
        input[readonly]{
            color: gray;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
    <label class="layui-form-label required">医生编号</label>
    <div class="layui-input-block">
        <input type="text" name="pNo" lay-verify="required" lay-reqtext="医生编号不能为空" placeholder="请输入医生编号"
               th:value="${pInfo.getpNo()}" class="layui-input" readonly>
        <tip>医生编号唯一,且一旦确定、无法更改。</tip>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">姓名</label>
    <div class="layui-input-block">
        <input type="text" name="pName" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入姓名"
               th:value="${pInfo.getpName()}" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">性别</label>
    <div class="layui-input-block">
        <input type="radio" name="pGender" value="0" title="男" th:checked="${pInfo.getpGender() == 0}">
        <input type="radio" name="pGender" value="1" title="女" th:checked="${pInfo.getpGender() == 1}">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">所属科室</label>
    <div class="layui-input-block">
        <select name="pSno">
            <option th:value="${pInfo.getpSno()}" th:text="${pInfo.section.getsName()}">当前:</option>
            <option th:each="item : ${sectionInfo}" th:value="${item.sNo}" th:text="${item.sName}"></option>
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">状态</label>
    <div class="layui-input-block">
        <input type="radio" name="pWstatus" value="0" title="在职" th:checked="${pInfo.getpWstatus() == 0}">
        <input type="radio" name="pWstatus" value="1" title="离职" th:checked="${pInfo.getpWstatus() == 1}">
        <input type="radio" name="pWstatus" value="2" title="休假" th:checked="${pInfo.getpWstatus() == 2}">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">手机</label>
    <div class="layui-input-block">
        <input type="text" name="pPhone" lay-verify="pPhone" lay-reqtext="手机不能为空" placeholder="请输入手机" value=""
               th:value="${pInfo.getpPhone()}" class="layui-input">
    </div>
</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.verify({
            pPhone:function (value,item){
                if(value.length == 0){
                    return "手机号不能为空";
                }
                if(!(/^1[3-9]{1}[0-9]{9}$/.test(value))) {
                    return "手机号格式不正确!";
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:'/app/GenSys/modify_physician.do',
                data:{
                    pNo:data.field.pNo,
                    pName:data.field.pName,
                    pGender:data.field.pGender,
                    pPhone:data.field.pPhone,
                    pWstatus:data.field.pWstatus,
                    pSno:data.field.pSno
                },
                method:'post',
                dataType:'json',
                success(res){
                    layer.msg(res.msg,{icon:res.code,time:800},function () {
                        parent.location.reload();
                    })
                }
            })
            return false;
        });

    });
</script>
</body>
</html>