<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haoshuai.app.mapper.NutChildMapper">
    <resultMap id="NCMap" type="com.haoshuai.app.entity.NutChild">
        <id column="nc_id" property="ncId"/>
        <result column="nc_name" property="ncName"/>
        <result column="nc_price" property="ncPrice"/>
        <result column="nc_remark" property="ncRemark"/>
    </resultMap>

    <sql id="addNCC1">
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ncName!=null and ncName!=''">
                nc_name,
            </if>
            <if test="ncPrice!=null and ncPrice!=''">
                nc_price,
            </if>
            <if test="ncRemark!=null and ncRemark!=''">
                nc_remark
            </if>
        </trim>
    </sql>
    <sql id="addNCC2">
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ncName!=null and ncName!=''">
                #{ncName},
            </if>
            <if test="ncPrice!=null and ncPrice!=''">
                #{ncPrice},
            </if>
            <if test="ncRemark!=null and ncRemark!=''">
                #{ncRemark}
            </if>
        </trim>
    </sql>
    <sql id="modifyNCC">
        <set>
            <if test="ncName!=null and ncName!=''">
                nc_name = #{ncName},
            </if>
            <if test="ncPrice!=null and ncPrice!=''">
                nc_price = #{ncPrice},
            </if>
            nc_remark = #{ncRemark}
        </set>
    </sql>
    
    <insert id="addNutChild">
        insert into nut_child <include refid="addNCC1"></include> values <include refid="addNCC2"></include>
    </insert>

    <select id="getNutChild" resultMap="NCMap">
        select * from nut_child where nc_id = #{ncId}
    </select>

    <update id="modifyNutChild">
        update nut_child <include refid="modifyNCC"></include> where nc_id = #{ncId}
    </update>

    <select id="getNutChildInfo" resultMap="NCMap">
        select * from nut_child limit #{page},#{limit}
    </select>

    <select id="getAllNutChildInfo" resultMap="NCMap">
        select * from nut_child
    </select>

    <select id="searchNutChildInfo" resultMap="NCMap">
        select * from nut_child where nc_name like concat('%',#{sk.ncName},'%') limit #{page},#{limit}
    </select>

    <select id="searchAllNutChildInfo" resultMap="NCMap">
        select * from nut_child where nc_name like concat('%',#{sk.ncName},'%')
    </select>

    <delete id="deleteManyNutChild">
        delete from nut_child where nc_id in
        <foreach collection="array" item="e" open="(" separator="," close=")">
            #{e}
        </foreach>
    </delete>

    <delete id="deleteNutChild">
        delete from nut_child where nc_id = #{ncId}
    </delete>
</mapper>